#col-centered {
    float: none;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.page-header {
    text-align: center;
}

form#login {
    width: 500px;
    margin: auto;
    box-sizing: border-box;
    padding: 24px;
    background-color: #fff;
    height: 200px;
}

form#login label {
    display: block;
    float: left;
    width: 28%;
    text-align: right;
    margin-right: 2%;
}

form#login input {
    display: block;
    float: left;
    width: 50%;
}

select#make, select#model, select#class {
    display: block;
    float: none;
    width: 50%;
}

form#login #loginBtn {
    float: none;
    margin: 0 auto;
    color: white;
    font-size: 1.5rem;
}

form#userLoggedIn p{
    color: #fff;
}

#modBtn {
    float: none;
    margin: auto;
    display: inline;
}

#addBtn button {
    float: none;
    margin: auto;
    display: block;
}

#register-btn {
    float: none;
    margin: auto;
    display: block;
}

ul#indvVehicle.list-group {
    width: 45%;
    float: left;
    margin-left: 5px;
}

ul#indvVehicleRight.list-group {
    width: 45%;
    float: right;
    margin-right: 5px;
}

h1#vehicleTitle {
    float: none;
    margin: auto;
    text-align: center;
}

li#indvVehicleElement.list-group-item h4 {
    display: inline;
}

li#indvVehicleElement.list-group-item-success h4 {
    display: inline;
}

#success_message {
    display: none;
}